[2016-09-17 12:59] chrisep8 opened #1 "Fabric Integration Test"
#### in some_crashed_method

* Number of crashes: 0
* Impacted devices: 0

There's a lot more information about this crash on crashlytics.com:
[http://example.com/path/to/fabric/issue](http://example.com/path/to/fabric/issue)

[2016-09-17 12:59] chrisep8 opened #2 "Fabric Integration Test"
#### in some_crashed_method

* Number of crashes: 0
* Impacted devices: 0

There's a lot more information about this crash on crashlytics.com:
[http://example.com/path/to/fabric/issue](http://example.com/path/to/fabric/issue)

[2016-09-17 13:00] #2 closed

[2016-09-17 13:00] #1 closed

[2016-09-19 05:04] chrisep8 opened #3 "ResourcesRecyclerAdapter$ViewHolder line 41"
#### in com.directdev.portal.adapter.ResourcesRecyclerAdapter$ViewHolder.bindData

* Number of crashes: 487
* Impacted devices: 29

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/directdevs-projects/android/apps/com.directdev.portal/issues/57dd1f370aeb16625b5e5101](https://fabric.io/directdevs-projects/android/apps/com.directdev.portal/issues/57dd1f370aeb166

[2016-09-19 09:50] #3 closed

[2016-09-19 15:19] chrisep8 opened #4 "BufferedSourceJsonReader line 1094"
#### in com.squareup.moshi.BufferedSourceJsonReader.syntaxError

* Number of crashes: 498
* Impacted devices: 113

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/directdevs-projects/android/apps/com.directdev.portal/issues/57dce9aa0aeb16625b5c8786](https://fabric.io/directdevs-projects/android/apps/com.directdev.portal/issues/57dce9aa0aeb16625b5c8786)

[2016-09-20 09:28] chrisep8 opened #5 "AndroidPlatform line 55"
#### in okhttp3.internal.AndroidPlatform.connectSocket

* Number of crashes: 498
* Impacted devices: 185

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/directdevs-projects/android/apps/com.directdev.portal/issues/57ddf7c10aeb16625b6573f8](https://fabric.io/directdevs-projects/android/apps/com.directdev.portal/issues/57ddf7c10aeb16625b6573f8)

[2016-09-21 03:11] #4 closed

[2016-09-21 03:11] #5 closed

[2016-09-27 11:41] chrisep8 opened #6 "New Binusmaya captcha disables Portal"
Binusmaya just replaced the old captcha that Portal have bypassed with a new captcha that requires us to validate by calculating the number presented inside an image.

It seems to works like this
1. We make a GET request to https://binusmaya.binus.ac.id/login/captcha.php, and received an image, here the server might associate our cookie with the image and the answer.
2. We then fill the form and s

[2016-09-29 02:31] #6 closed

[2016-10-03 01:47] chrisep8 opened #7 "OperatorMapResponseToBodyOrError$1 line 43"
#### in retrofit2.adapter.rxjava.OperatorMapResponseToBodyOrError$1.onNext

* Number of crashes: 496
* Impacted devices: 126

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/directdevs-projects/android/apps/com.directdev.portal/issues/57dea8f30aeb16625b6b2163](https://fabric.io/directdevs-projects/android/apps/com.directdev.portal/issues/57dea8f30aeb16625b6b2

[2016-10-05 06:34] #7 closed

[2016-10-27 07:37] chrisep8 opened #8 "DateTimeFormatter line 945"
#### in org.joda.time.format.DateTimeFormatter.parseDateTime

* Number of crashes: 499
* Impacted devices: 189

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/directdevs-projects/android/apps/com.directdev.portal/issues/58103a600aeb16625bfc6ab4](https://fabric.io/directdevs-projects/android/apps/com.directdev.portal/issues/58103a600aeb16625bfc6ab4)

[2016-10-27 08:59] #8 closed

[2016-12-02 07:25] chrsep opened #9 "OperatorMapResponseToBodyOrError.java line 43"
#### in retrofit2.adapter.rxjava.OperatorMapResponseToBodyOrError$1.onNext

* Number of crashes: 489
* Impacted devices: 202

There's a lot more information about this crash on crashlytics.com:
[https://fabric.io/directdevs-projects/android/apps/com.directdev.portal/issues/57dccd330aeb16625b5ba9bd](https://fabric.io/directdevs-projects/android/apps/com.directdev.portal/issues/57dccd330aeb16625b5ba

[2016-12-17 07:37] #9 closed

[2017-05-24 01:45] chrsep opened #11 "Google Calendar Integration"
There have been a lot of request for the ability to export the schedule data into Google Calendar, I have looked into this in the past but haven't got the time to implement it yet.

## Possible Implementation
One of the hard thing to do in adding this is keeping the Google Calendar in sync with the schedule from binusmaya. To do this, every time Portal updates its schedule, it have to track which

[2017-05-24 01:56] chrsep opened #12 "Show whether bill have been paid or not"
Binusmaya now have the ability to show whether a bill that Binus issued have been paid or not in the Financial Summary. This is not the case in the past, hence Portal only show whether a bill's due date have passed or not.

I don't yet know how Binusmaya implement this, and I haven't been able to find some time to figure it out and implement it in Portal. It would be nice if someone would give thi

[2017-05-24 08:52] chrsep opened #13 "Unable to sign in and update data"
Lately, Portal has been unable to fetch any data from Binusmaya due to some changes to the way it logs user in. One of the changes is now the inclusion of a hidden token field on login.

I released a patch to fix this by fetching the login html first, extract the token out, and use it on the next login request. This works as of last night, but today this fix doesn't seem to work anymore. Fixing th

[2017-05-25 07:57] mstephen77 commented on #13
I've tried to mess around by creating a fake request with PHPSESSID, token, and defaultLoginReal intact, and it seems to have no problem at all, unless you do HTTP GET to the login page (https://binusmaya.binus.ac.id/login/index.php) more than once, which in turn would generate a different token...

[2017-05-25 09:17] chrsep commented on #13
@mstephen77  Have you tried getting data using the PHPSESSID that you used to login? Like from "https://binusmaya.binus.ac.id/services/ci/index.php/scoring/ViewGrade/getPeriodByBinusianId" ?

My every request seems to fails, maybe there is something wrong with my request header, I'll look into it again later.

[2017-05-25 11:44] mstephen77 commented on #13
@chrsep: Are you sure you're using a correct Referer in the header? Everything seems fine for me.
![image](https://cloud.githubusercontent.com/assets/22470683/26448956/053454fa-417a-11e7-8d14-c7844d1a3ced.png)

[2017-05-25 12:47] chrsep commented on #13
@mstephen77 i did, it works if i login through the browser and copy the PHPSESSID to the request to getPeriodByBinusianId. I am trying to login with my own request to "https://binusmaya.binus.ac.id/login/sys_login.php" like in the screenshot ( i fill the uid and pass while leaving defaultLoginReal empty ). When i use the PHPSESSID from this request, all my request to getPeriodByBinusianId fails.

[2017-05-25 13:36] mstephen77 commented on #13
@chrsep: Can you get the response from any URI (ex. "https://binusmaya.binus.ac.id/services/ci/index.php/scoring/ViewGrade/getPeriodByBinusianId") with that PHPSESSID? (I used "Postman" to create requests and view responses) If it's unauthorized then that PHPSESSID is just a session_start() in php which was created when you opened https://binusmaya.binus.ac.id/login/index.php while in reality you

[2017-05-25 13:44] mstephen77 commented on #13
![image](https://cloud.githubusercontent.com/assets/22470683/26452578/a2d05e7e-418a-11e7-8bbf-7d08c8b720a8.png)
There, by just opening https://binusmaya.binus.ac.id/login/index.php, as you can see, php already generates a PHPSESSID (That meant a session_start() on PHP, which was done on the backend server). If you create a request using that PHPSESSID, Binusmaya's services would get an error becau

[2017-05-25 13:51] mstephen77 commented on #13
Oh also worth mentioning that if you did create a request like you stated above, that's probably the problem. Because you need to fill in the captcha (defaultLoginReal) with the result of the captcha, which means it cannot be empty.

[2017-05-25 14:07] chrsep commented on #13
@mstephen77 That's what i was afraid of, Binusmaya's captcha used to have a bug, it seems that the captcha will be set to a default value (an empty string) for a given session before https://binusmaya.binus.ac.id/login/captcha.php is called by the session, because of this i could just leave defaultLoginReal empty, and users would get logged in just fine. this is how i bypass the captcha since it w

[2017-05-25 14:19] mstephen77 commented on #13
@chrsep: OHHH, now everything makes sense. You used to do a POST directly to sys_login.php before, right? Now, with an addition of a token, you're forced to HTTP GET to binusmaya.binus.ac.id/login/index.php, and there, in index.php, it will do a HTTP GET to captcha.php (something along the line of <img src="captcha.php">), which was why your captcha bypass isn't working anymore. But there shouldn'

[2017-05-25 14:32] chrsep commented on #13
@mstephen77 Damn, that might be it, index.php might have triggered something, maybe that's the purpose of the token. I'll try to look into this tomorrow. This captcha really is an unnecessary hurdle, i don't understand why they have to put it there.

[2017-05-26 09:01] mstephen77 commented on #13
@chrsep: If you could block requests to https://binusmaya.binus.ac.id/login/captcha.php then that would be for the best, since you don't have to change anything else and keep the defaultLoginReal empty, I suppose.

[2017-05-26 11:06] chrsep commented on #13
@mstephen77 I just tested it. i think they might have fixed the captcha bug. It's possible that the default value is now randomized so it's probably impossible to keep the defaultLoginReal constant.

I've tested this by copying the token that i know works and using it to login on portal while removing the call to index.php. It fails when i try to call with empty defaultLoginReal, so then i opened

[2017-05-26 11:26] mstephen77 commented on #13
@chrsep: Forgive me for being rude, but how do you know that the token works?

[2017-05-26 11:40] chrsep commented on #13
@mstephen77 When i first try to fix this, when leaving the defaultLoginReal empty still works, the same token works multiple times, only after some few minutes that all my request fails. I conclude that the tokens are invalidated only after certain length of time, this leads me to create the mechanism to fetch the token. I expect that this is still the case.

Besides, when i try it now, my request

[2017-05-26 11:43] mstephen77 commented on #13
@chrsep: Eh, sorry. Nevermind about that actually. I blocked all requests to captcha.php yet can't still have it empty. You know, might as well put a captcha everytime user needs to login / update... (though it should be possible to use OCR xD)

[2017-05-26 11:50] chrsep commented on #13
@mstephen77 I don't think asking user for captcha is good. It would make automating the update impossible, and it's going to be really annoying. I'll probably try to implement a way to automatically answer the captcha, this probably gonna take some time :disappointed:

[2017-05-26 14:56] mstephen77 commented on #13
@chrsep: If it's possible, could you create the one where it asks the user for captcha first (if it's easier and doesn't take much of your time), since I use this app because of Realm (offline db) instead of Binus Mobile 😂. After all, the captcha will be there only when the user logs in/updates, so imo, no one would really mind.

[2017-05-26 15:05] chrsep commented on #13
@mstephen77 hmmm... I suppose you're right, implementing the captcha wouldn't be really hard, and i am kinda a bit busy. It's probably better to implement the captcha temporarily while the OCR is being build. I'll try to implement this tonight.

[2017-05-27 05:15] chrsep commented on #13
I've pushed an update yesterday, with the fix in 7a2445. We'll see whether this works reliably in the next couple of days.

[2017-05-27 05:26] chrsep opened #14 "Can't update grades"
If the term in Binusmaya advances (Eg. Semester 6 changed to semester 7), and grades is not released yet, the grades in previous term won't get updated even after the grade is released (Eg. Semester 6 grade will always be emtpy). To fix this requires re-login.

This is probably because Portal tries to be efficient and only fetches the grades from the latest term on usual update.

[2017-05-27 10:58] chrsep commented on #13
Apparently the fix only work on my phone and a few other phone. This is hard for me to debug because my phone successfully login everytime I detected some 30 successful login.... and around 2k failed login attempts. This  is bewildering. @mstephen77 does the captcha works on your phone?

[2017-05-27 12:09] chrsep commented on #13
I am currently studying abroad, and i am away from my usual development equipment. This makes developing android app really hard. I also already have to much things to do, so I don't think i can work on this for some time. Hopefully someone can hop in and help with this.

[2017-05-27 13:06] mstephen77 commented on #13
@chrsep: The latest update from Google Play Store somehow doesn't work for me either. Is it possible for you to fetch the responses after doing a POST to sys_login.php? Because for me, I myself did like this (in C#). That way, if login failed, I'd knew what's wrong (Binusmaya would put it in a div#login_error in its' response).
![image](https://cloud.githubusercontent.com/assets/22470683/26521641/

[2017-05-27 13:31] chrsep commented on #13
@mstephen77 My phone can log in perfectly, so i can't test it on my phone. I'll release an update to gather this data.

[2017-05-27 21:46] ridzkiatmaji opened #15 "Wrong pass or username"
i certainly dont have the wrong username nor password nor captcha but still cant log in even though i am able to through normal web binusmaya

[2017-05-27 23:06] mstephen77 commented on #15
@ridzkiatmaji: The developer are aware of the issue, and is trying to fix it. Please see issue #13

[2017-05-28 00:49] chrsep commented on #13
@mstephen77 I got "../login/?error=4" on all failed request. Seems like it's definitely something wrong with the captcha.

[2017-05-28 01:09] mstephen77 commented on #13
@chrsep There's 2 reason for `../login/?error=4`, the first one is it's really an invalid captcha, or the second one is an invalid token. The first would happen if you do a HTTP GET to the captcha.php before getting token, or in other words, you have to get the index.php before captcha.php (something about PHP's session). The second probability is low, and only happens if you're using old token (b

[2017-05-28 01:13] mstephen77 commented on #13
I don't have any problem doing it like this...
![image](https://cloud.githubusercontent.com/assets/22470683/26525282/70f80754-437d-11e7-82a8-613328c441c0.png)
![image](https://cloud.githubusercontent.com/assets/22470683/26525283/79840e86-437d-11e7-92f9-66fe79042e2d.png)

[2017-05-28 02:17] chrsep commented on #13
@mstephen77 Have you tried getting the captcha before the getting the token? I don't think the token is tied to the PHPSESSID because i can just copy only the token i got from my browser into my Portal with out copying over the cookie, and the request would still be successful with the new cookie. Here is what i got every time. It's taken directly from Portal's network requests.

![image](https://

[2017-05-28 02:23] mstephen77 commented on #13
@chrsep The gradle build failed for me, something about failed to import firebase. Tried sniffing the packets sent with Wireshark but it's seemed encoded

[2017-05-28 02:29] mstephen77 commented on #13
@chrsep Oh, and also, I'm just afraid that when you GET index.php, it would mess with the already GET captcha.php, that's why I set the order to be that way... i don't know though

[2017-05-28 02:46] chrsep commented on #13
@mstephen77 The gradle error could be caused by outdated sdk, `firebase-perf` has only been announced yesterday at Google I/O. Have you tried updating your sdk and android studio? If you could get it to work, you could easily inspect all of Portal's data and network request by opening `chrome://inspect/#devices`.

Getting the token before getting the captcha is a bit more complicated, so i'd rathe

[2017-05-28 07:06] mstephen77 commented on #13
@chrsep Which branch is the latest (the one on Google Play Store)?

[2017-05-28 07:11] chrsep commented on #13
@mstephen77 it's the analysisUpdate

[2017-05-28 08:08] mstephen77 commented on #13
@chrsep 'kay so updated everything in Android Studio. Build is fine, but I can't use ADB to debug to my device.
![image](https://cloud.githubusercontent.com/assets/22470683/26527132/801bb4b2-43b7-11e7-9051-886d8e5e6348.png)
Any idea?

[2017-05-28 08:20] chrsep commented on #13
@mstephen77 i forgot about that, i've fixed that in develop but haven't merge it down to analysisUpdate. I've just push the fix to analysisUpdate, try git pull.

[2017-05-28 08:30] mstephen77 commented on #13
@chrsep Eh nevermind actually. Somehow it worked with Instant Run. Anyway, the request to `sys_login.php` for me has the defaultLoginReal empty despite me filling in the captcha. That's the problem. I don't know why it's empty, though.

[2017-05-28 08:58] chrsep commented on #13
@mstephen77 This is a bit frustrating, how come does it work in mine?

![image](https://cloud.githubusercontent.com/assets/8491552/26527414/8c46895a-4359-11e7-9054-1918544e4ad5.png)

I can't fix something that i can't see.

[2017-05-28 09:06] mstephen77 commented on #13
@chrsep Is there a way with Kotlin to output back to Android Studio? Console.WriteLine, Debug.Log, etc, etc...?

[2017-05-28 09:13] chrsep commented on #13
@mstephen77 You could use android's log function. https://developer.android.com/reference/android/util/Log.html.  Just use `Log.d(String, String)`.

[2017-05-28 09:27] chrsep commented on #13
@mstephen77 hmm... That's possible, usually Android Studio gives out warning if a certain function is not available in the app's target API though. I'll try to remove that function. And push out update to beta users to test.

[2017-05-28 09:39] mstephen77 commented on #13
@chrsep Just pulled your recent SyncManager, the captcha is working now. Well, for me, at least. I'll await the update.

[2017-05-28 09:43] chrsep commented on #13
@mstephen77 Finally some good news :smile: . Hopefully everything works fine.

[2017-05-28 10:29] felixlix45 commented on #13
I can confirm that the last update (Google Play Store) is working. Thank You

[2017-05-28 11:10] chrsep commented on #13
@felixlix45 Good to hear :smile: , i'll be rolling the update out to everyone and monitor the changes over the next couple of days

[2017-05-30 00:21] chrsep commented on #13
Apparently, it seems that the login is failing again, still caused by captcha (`../login/?error=4`). But the root cause teems to be different now, `defaultLoginReal` is still correctly filled.

[2017-05-30 01:20] mstephen77 commented on #13
@chrsep Yeah, probably because you're trying to use old data (Cookie? Token?) which is why it fails

[2017-05-30 03:45] mstephen77 commented on #13
@chrsep How to clear Realm saved prefs? Will clearing data do it?

[2017-05-30 04:25] chrsep commented on #13
@mstephen77 Yes, clearing the data should do it. I saved the cookie in android's `SharedPreference`, I am not saving the token though.

I think the fact that Portal works for a while shows that there must be some changes to Binusmaya. Don't know what yet though.

[2017-05-30 06:44] mstephen77 commented on #13
@chrsep Weird, I could still login just fine using C# and nothing changed from Binusmaya. I think you should refresh the token thing (if you're using the old saved token data).

[2017-05-30 07:53] chrsep commented on #13
@mstephen77 Hmmm..... Portal don't reuse the same token, it's probably something wrong with the sequence of the request though. I'll try to move the signin process to it's own file. It seems to be very complicated

[2017-05-30 12:00] chrsep commented on #13
Now working again on my devices, and I am slowly rolling out a new update. Seems like there is some problem in handling the cookie, I rewrite the sign in process and cookie handling almost from scratch in 3940045, and now it works. I am sorry for all the trouble.

[2017-06-02 01:42] chrsep commented on #13
From what i see, this issue seems to be resolved now, the number of failed login have gone down significantly over the past few days. I'll be closing this now.

@mstephen77 Thanks for your help, it would probably take a lot longer to fix this without your help. :smile:

[2017-06-02 01:42] #13 closed

[2017-06-02 01:46] chrsep commented on #15
This Issue is now resolved, together with #13

[2017-06-02 01:46] #15 closed

[2017-06-05 04:32] chrsep opened #16 "Remove captcha, causes failed login"
Due to the fact that Binusmaya requires captcha to login, Portal now introduces captcha on every update. The spawning of captcha can be minimized (by only showing it when user is not yet considered logged in) or removed entirely (by automatically reding the image, and filling the answer), although all of this will require quite a lot of work.

This will enable device testing using firebase, auto u

[2017-06-12 17:13] mstephen77 commented on #16
Might as well leave it be... I've heard they're planning on implementing Google's reCAPTCHA.

[2017-06-12 23:54] chrsep commented on #16
I see.... Well if that's the case, it's probably going to kill Portal for good. I guess we'll see.

[2017-07-15 04:51] felixlix45 commented on #16
Captcha is already removed from Binusmaya and now portal error

[2017-07-15 05:22] chrsep commented on #16
Curious.... Hopefully they didn't just implemented Google's invisible reCaptcha, that would be a big problem for us. I'll look into this later today.

[2017-07-16 16:51] mstephen77 commented on #16
Binusmaya login changes summary:
1. Get HTML source of https://binusmaya.binus.ac.id/login/index.php
2. Use regex to search for something like src="../login/loader.php?serial=(serial here)" (should be under <head>)
3. Do a GET request to the script source
4. Build the request as follows:
- Find the input for username and use the HTML element's name for username
- Find the input for password and us

[2017-07-16 17:03] mstephen77 commented on #16
Request example (and a successful login):
![image](https://user-images.githubusercontent.com/22470683/28249611-3f2c2c1e-6a83-11e7-881b-eb95067d5e72.png)

[2017-07-17 04:26] chrsep commented on #16
Thx stephen, that is an awful lot of randomized fields, at least it can still be bypassed though. Sorry for my delayed response, apparently i haven't got time to work on this on the last few days, I'll try to implement this today.

[2017-07-17 14:55] chrsep commented on #16
It seems to be fixed on my end, i'll be publishing this to play store's alpha channel first to see if there is still any problem

[2017-07-18 16:52] chrsep commented on #16
now published to alpha, together with a couple of other fixes.

[2017-07-27 09:13] mstephen77 commented on #16
Failing to login a few times would then have Google's reCaptcha

[2017-07-27 10:03] chrsep commented on #16
Yes, i tried to prevent it from ever appearing by asking for a new cookie every time portal tries to login, it seems to work for now. I don't know if that can be a permanent solution though.

[2017-08-03 13:45] chrsep commented on #16
There still seems to be a significant number of failed login attempt, i'm still gathering more data to understand why.

[2017-08-03 15:20] mstephen77 commented on #16
Are you sure those failed attempts are the ones using Portal's alpha build? As far as I know, Portal has yet to be updated in Play Store. I'm using alpha channel and there's no problem whatsoever thus far.

[2017-08-04 04:28] chrsep commented on #16
It probably exist in every build. Only half of the people signing in is successful. I'm releasing this update first on alpha just to make sure nothing bad happens from it. I'll release it to production soon.

These updates doesn't actually contains any fix yet by the way. It just added some more analytics to gather more data about any error or crashes that happens, using fabric and firebase. I hav

[2017-08-13 13:18] DerrellH opened #17 "Can't login to Portal Binusmaya"
Everytime i tried to logged in, it always says that the binusmaya server is acting weird while the others managed to login pls fix it my phone is Samsung J7 prime if it helps

[2017-08-13 13:20] DerrellH commented on #17
Sorry typo there *Can't

[2017-08-13 13:41] mstephen77 commented on #17
I suspect there's some new features available only to newer Android version and that's why login keeps failing. Are you on Alpha channel? Please check #16 for login issues.

[2017-08-13 15:00] chrsep commented on #16
There are two causes of failed logins that i can see.

1. Caused by Binusmaya giving out no term data, which is required for fetching pretty much everything other than the normal schedule. This causes `IndexOutOfBoundException` as seen here: http://crashes.to/s/d143134645c . I think this might be happening to new students only and might be resolved when next semester actually starts.

2. The other

[2017-08-13 15:03] chrsep commented on #17
Hi @DerrellH, can you tell us more? Are you Binusian 2021? There doesn't seem to be any Binusian 2021 who have successfully logged in to Portal. It's possible that your failed login is caused by Binusmaya server not telling Portal what Semester you are on. I've posted more info in #16.

[2017-08-14 06:23] DerrellH commented on #17
Yes i am from Binusian 2021, one of the people sitting beside me managed to login to the portal binusmaya, i don't know how

[2017-08-14 06:25] DerrellH commented on #17
And in my portal there is no verification tab, only a simple log in and password tab

[2017-08-14 06:27] DerrellH commented on #17
And do i need to join the alpha tester so that i can logged in to the portal?

[2017-08-14 08:57] mstephen77 commented on #17
I don't know whether @chrsep has pushed it out for public or still for alpha testers, but yeah, please do try joining alpha testers.

[2017-08-14 14:35] chrsep commented on #17
I have pushed it to public actually. Sorry, i forgot to mention that. @DerrellH There is a chance that you might be able to login in a few days, just need to wait until Binusmaya says you are on your first Semester. But yeah , you should still join the alpha testing if you want to get the updates as fast as possible, I'll try to fix this and if I am successful, I'll push it to the alpha testing fi

[2017-08-15 03:14] DerrellH commented on #17
@Chrsep yes i think, and yeah i mean the Chaptcha pop-ups, idk it's just the person besides the dates of stuff i think on his app, maybe i'm just seeing things. If it's true that i can only start it until the first semester starts then okay, thx for the information

[2017-08-15 04:28] mstephen77 commented on #17
@DerrellH Newest binusmaya shouldn't have captcha popup, so I doubt your friend logged in successfully because the login system has been changed since the captcha update.

[2017-08-26 16:33] Lonerist opened #18 "Can't login to Portal"
I can't login to my Portal (with the latest update). It says "Failed to authenticate with Bimay", even though I got my username & password right.

[2017-08-27 04:04] felixlix45 commented on #18
Are you B21?

[2017-08-27 08:28] Lonerist commented on #18
I'm B20, and had no trouble logging in before......
I tried with my sister's who is B19 and still failed to login

[2017-08-27 12:12] chrsep commented on #18
Hi @Lonerist , there were some changes to Binusmaya a while back that causes lots of failed sign in.

Today, the failed sign in seems to happen to half of Portal's users. I have an idea about what's wrong with B21, but B20 and lower should have been able to sign in normally.

Me and my friends are not affected though, so it's quite hard to pinpoint the cause. It'll take some time to fix. More info

[2017-08-31 11:07] DerrellH commented on #17
@mrstephen77 i still can't login to portal, the date for AO is out and yet it still says server acring wierd

[2017-08-31 11:28] chrsep commented on #17
@DerrellH I am currently working on a fix, hopefully i can release an update before Monday. I'll be releasing this first on Alpha channel as soon as i can, probably with quite some bug though.

You can join the alpha channel from [here](https://play.google.com/apps/testing/com.directdev.portal) if you want to test the update as soon as possible.

[2017-08-31 13:04] mstephen77 commented on #17
@chrsep sorry can't be of much help, I've tried to build it and everything's fine for me.

[2017-09-01 12:44] chrsep commented on #17
@mstephen77 don't worry, i can't be of much help either :rofl:. I've decided to just rewrite most of Portal and remove all data request from login, it will all be done later on after login.

The problem won't be gone though, it'll just be moved away from when the user tries to login, at least for now.

I'll try gathering logs of recent requests leading to the failed request to Binusmaya using cras

[2017-09-03 13:46] chrsep commented on #17
@DerrellH update is now being rolled out to alpha.

[2017-09-03 13:56] chrsep commented on #16
New update is being rolled out to alpha, most of Portal's code has been rewritten to follow the _MVP-clean_ architecture. Course Resources is removed for now because i haven't got time to rewrite it, it currently cause some crashes. The problem with login should be fixed, and journal and finance should be working for everyone, not sure about grades though.

Been working on this for 2 weeks, there

[2017-09-18 09:35] chrsep commented on #17
@DerrelH Can you now login to Portal? is there still any error?

[2017-09-18 09:40] chrsep commented on #18
@Lonerist Do you still have any trouble logging in to Portal? Can you now see the schedule, grades and finances?

[2017-09-18 10:43] Lonerist commented on #18
It's been a long time since my last login, so I decided to try it today.......
Somehow it worked now, despite not getting an update. So I guess it was just a matter of time........

[2017-09-18 15:14] chrsep commented on #18
Well that's good news, does the schedules, grades and finance works too?

[2017-09-19 04:32] Lonerist commented on #18
It works fine now. I don't see any more problem in my phone......

[2017-09-19 12:30] chrsep commented on #18
Great, I'll close this issue for now

[2017-09-19 12:30] #18 closed

[2017-09-20 03:03] chrsep opened #19 "Nilai mata kuliah yang sama keluar lebih dari sekali"
Portal menyimpan mata kuliah lab dan lecture secara terpisah, tetapi courseId-nya (field yang digunakan untuk mencari grades nanti)  tidaklah berbeda.

<img width="795" alt="screen shot 2017-09-20 at 09 23 33" src="https://user-images.githubusercontent.com/8491552/30624180-10528cee-9de6-11e7-956d-a4faf33b1111.png">

Karena ada dua entry dengan courseId yang sama, make nilai dari course yang sama m

[2017-09-21 13:11] purenaturalism commented on #17
Hi @chrsep , I'm binusian 2021. I can logged in now. Thanks!

Btw, How to contribute this project ? or What's the prerequisites to contribute to this project ?

Thanks

[2017-09-21 13:35] chrsep commented on #17
Hi @purenaturalism That's good to hear, does any error message still shows though? To contribute just [fork](https://guides.github.com/activities/forking/) this repo, make changes, and then make a pull-request. There is no prerequisite, just be clear on what does your changes do when you make your pull-request.

[2017-09-22 02:15] chrsep opened #20 "Tambah Unit Test & UI Test"
Portal untuk sekarang belum memiliki test apapun. Setelah refactor terakhir, sekarang code Portal sudah lebih mudah untuk dibuatkan test. Karena ini, ada baiknya jika sekarang Unit Test (Junit + Mockito) dan UI Test (Espresso) di implementasikan ke Portal.

Mencoba membuat ini akan sangat berguna jika ingin belajar mengenai Software Testing.

[2017-09-22 02:15] #14 closed

[2017-09-22 02:17] chrsep commented on #16
Login now seems to be successful. If there are any errors during data fetching, it's now handled in the MainActivity.

[2017-09-22 02:17] #16 closed

[2017-09-23 10:57] chrisandoryan opened #21 "Question about Captcha and Cookies"
Hi
First of all, i really want to say that i am incredibly amazed with your work.
My name is Chrisando Ryan, B20, student of Cyber Security. Right now i'm working on sort of small project researching cookies and captcha.

After reading issue flows (especially your discussion with mstephen77 about binusmaya login change) here, i became more curious about how Binusmaya captcha works. At first place

[2017-09-23 12:01] mstephen77 commented on #21
Hi, @chrisandoryan.
To clarify, they don't use any captcha for login, unless you have failed to login for 5 times.
Also as I've checked just now, there shouldn't be any changes to how login work since #16 so that way of logging in should work properly, given correct request payload you sent to sys_login.php. If you're still experiencing ?error=4, try changing/removing the cookie before making a ne

[2017-09-23 12:25] chrsep commented on #21
Hi, Thanks @chrisandoryan, i really appreciate you saying that 😁

Just like @mstephen77 said, as far as i know, Binusmaya currently only uses Google's normal reCaptcha, and it only shows up after multiple failed login attempts using the same cookie. So unless you tries to login multiple times with the same cookie, it shouldn't be a problem.

Also, sending an incorrect request payload to `sys_login

[2017-09-24 05:17] chrisandoryan commented on #21
Hi! Thanks both of you. I lately discovered that the problem is on my script itself, @chrsep hint them. Another question in mind, do you have any idea for a reasonable reason why did Binusmaya stop using that image captcha for verification? Is it because they're implementing normal reCaptcha? Last time i checked, the page ```captcha.php``` is still there, but for some reason they stopped using it.

[2017-09-24 07:45] mstephen77 commented on #21
You're welcome, @chrisandoryan.
I don't really know the details, but they probably removed the captcha.php probably because it has a lot of bugs and they have already implemented reCaptcha.
Meanwhile, `block_user.php` does not do anything than blocking. It's not how Binusmaya checks whether the login is successful or not. It simply blocks user logging in to Binusmaya when there's, for example, Lec

[2017-09-24 22:46] chrsep commented on #21
@chrisandoryan Portal does not call `block_user.php`, i didn't even know what that was for 🤣. But i do know that if the login is successful,  users are redirected there, so I just use it to determine if the login is successful.

[2017-10-11 23:43] RenatoBF opened #22 "why today when i log in to binusmaya all my schedule dissappear? yesterday it was filled with activities."

[2017-10-12 00:07] mstephen77 commented on #22
@RenatoBF I had the same issue too since yesterday, probably Binusmaya changes the way it logs in again. I tried logging in normally to binusmaya and it redirects me to the newStaff/ page instead of newStudent/. I'm currently unable to check it because of this issue for Chrome browser: https://bugs.chromium.org/p/chromium/issues/detail?id=766715. I'll try to download other browsers meanwhile.

[2017-10-12 03:08] chrsep commented on #22
@RenatoBF To update schedule, Portal will first try to fetch all schedule from Binusmaya, if it succeeded, it will then wipe the local database and re-enter the new schedules, if it fails, it shouldn't be doing anything. I think if all schedules suddenly went missing, it would probably be because Binusmaya actually sends an empty array when Portal asks for schedule, so this might be just a tempora

[2017-10-13 09:20] Luche opened #23 "So about SADC..."
So SADC is already aware of this app and telling us to not use Portal because of the security.

However I like this app, the UI is so clean and simple unlike the official one, and I still wanna use Portal, so I'm asking here,

Is our data save? Can we trust you?
(Couldn't you make a partnership with binus? 😂😂)
Also please tell us about where you keep our data if possible :D

[2017-10-13 09:31] mstephen77 commented on #23
@Luche LOL to SADC. I won't say that your data is safe, but all of Portal data is saved locally (using Realm, AFAIK, for both username and password). The only thing that might endanger your data is when your phone is rooted, or you're tweaking your phone by using custom ROM and such.

P.S. If you can't believe me, or @chrsep, or SADC, you can grab ahead, download the code, read and analyze it, and

[2017-10-13 09:45] Luche commented on #23
Haha I definitely agree with you there, I'm gonna be harsh, the UI on the official one is so trash.

Aside from that,
So, is it possible if someone steal our data?

[2017-10-13 09:55] chrsep commented on #23
Hi @Luche , Your data is save, all of it is saved only on your device. I understand the concern that Portal might steal your data, and i've heard about the announcement from SADC.

I'll be honest, **I do gather data for debugging the last bug for Binusian 2021 that prevents everyone from logging in.** Implementation is [here](https://github.com/chrsep/Kingfish/blob/master/app/src/main/java/com/dir

[2017-10-13 10:05] Luche commented on #23
Thank you so much @mstephen77 and @chrsep for the explanation, I appreciate that.

I also appreciate your effort into making this app which has always been my favorite since I entered binus, I hope there will be some successors so this app will be alive longer :)

Cheers

[2017-10-13 10:14] chrsep commented on #23
Thank for saying that @Luche 😁, When SADC said someone can steal your data, they probably means it's whoever developed Portal can steal your data, and I'll be honest that i can if i changed Portal's code to send the data to me and save it on my own server. But I wont, and you'll know if i did because all the code is here. I kept all the data on local databases on each devices.

Portal wouldn't hav

[2017-10-24 00:08] chrsep opened #25 "Can't update/signin, Error "Binusmaya server is action weird""
There is a change in how binusmaya logs in. Now a call to https://binusmaya.binus.ac.id/login/index.php returns a link with a token. This change breaks Portal's log in mechanism. Some modification to AuthInteractor in Portal to handle this new login flow will be required to fix this.

[2017-10-24 00:27] mstephen77 commented on #25
Also, don't forget to change the form's action since it's no longer `sys_login.php`

[2017-10-24 16:10] chrsep commented on #25
Thanks @mstephen77. Fix is now being rolled out.

[2017-10-27 02:29] davidhonasan commented on #25
I still can't login with Portal. is it fixed yet? B21 here.

[2017-10-27 06:20] chrsep commented on #25
@davidhonasan It's fixed on my side, I think binusmaya might have a problem a few hours ago, It should be fine now. Have you tried to update/signin again?

[2017-10-27 08:18] davidhonasan commented on #25
i've tried to uninstall, clear data but still cant login it says , we have no idea whats wrong. but we have recieved the log. we'll look into this.

also sometimes it can weirdly logged on but it has weird agenda.

[2017-10-27 08:23] davidhonasan commented on #25
correction, sometimes when it weirdly login. its show exam schedule.

[2017-10-27 08:29] chrsep commented on #25
Does this also affects a lot of your friends?

[2017-10-27 08:47] davidhonasan commented on #25
one of my friend also has this issue.

[2017-10-27 12:52] Luche commented on #25
Strangely, it's saying bimay is sending weird data for me when I want to log in

[2017-10-28 05:11] chrsep commented on #25
I've pushed an update, I'm not really sure yet why you guys is having this issue. I've make portal sign in call more frequent now, hopefully this fixes your issue. I'll look into this more later.

[2017-10-28 06:51] davidhonasan commented on #25
i've updated to ver 0.5.0a. well sadly, this issue is still there. I'll put the video on here, so you can see what's happening in my device.
Hope that will help you on fixing this. Thanks.
https://youtu.be/y2oX3GLu4hU

[2017-10-28 12:08] Luche commented on #25
Nvm, It's working.
Yeay!

[2017-10-28 15:03] chrsep commented on #25
@Luche Good to hear :smile: . @davidhonasan I experience similar issue with you just a few hours ago, some requests returns a PHP error instead of returning data, but now it seems to disappear, probably something about Binusmaya malfunctioning in my case. Were you experiencing this issue last week?

[2017-10-28 15:15] davidhonasan commented on #25
lastweek before the login issues, my portal just fine, no issues. But now, Portal fetch only the exam schedule. There aren't any class schedule fetched by Portal.

[2017-10-29 01:51] Joonath opened #26 "Margin issue"
The very bottom of material's Download button (in Resources)  is overridden by floating Calender icon. I'd suggest to make the Calendar button hidden after user scroll down (and reappear when scroll up). Or at least make some margin changes between them.

[2017-10-31 00:48] Mondoe opened #27 "Binusmaya is giving us weird data"
It says Binusmaya is giving us weird data, and im unable to update my class sched. Although i can still login. Pls help?

[2017-11-01 15:07] funAlways opened #28 "Subject Name and Time overlaps for Exams"
Basically, if the subject name is long enough (e.g. "English for Business Presentation"), it'll overlap with exam schedule time, making it almost unreadable.
Easy solution would be move the exam time to second line, next to seat and room numbers.

[2017-11-02 04:17] Joonath opened #29 "Resource file issue & suggestion"
The downloaded file seems to be broken (error message: invalid format or file extension). Have you not implementing any extension changes?  (or perhaps there is something missing regarding to keeping the file extension as it is)
Currently tested on English for Business Presentation Meeting 1 file for Binusian 2021

Also I have some suggestion to Resource file managing. It seems that I couldn't fin

[2017-11-02 09:20] TreonS opened #30 "Resources tab issue"
When i click the resources tab, the portal app force close.

[2017-11-06 00:28] TreonS commented on #30
From the code, it do nothing right after the if?

[2017-11-06 00:31] TreonS commented on #30
I've updated the newest version and it  works.  Thank you @chersep

[2017-11-06 05:51] chrsep commented on #26
Thanks @Joonath, now the button is hidden on scroll, I'll close this issue now.

[2017-11-06 05:51] #26 closed

[2017-11-06 05:53] chrsep commented on #30
Thanks @TreonS, sorry i haven't got time to reply. It was my mistake, the if was useless 🤣, i forgot to change it. I'll close this issue now.

[2017-11-06 05:53] #30 closed

[2017-11-06 06:03] chrsep commented on #29
@Joonath I haven't got time to checked the resources API from Binusmaya. The last time i checked, there was some inconsistencies on the data that it returned, it was a bit messy so i don't actually really understand how everything work, so I don't consider the current implementation to get and save the data as robust. It definitely can be improved.

The files is currently being downloaded by your

[2017-11-06 06:08] #19 closed

[2017-11-06 06:08] #17 closed

[2017-11-06 06:32] chrsep commented on #28
This should be easy enough to implement, the other schedule item probably also have this problem. [item_session](https://github.com/chrsep/Kingfish/blob/master/app/src/main/res/layout/item_sessions.xml) handles the layout for the normal schedule item and [item_jexam](https://github.com/chrsep/Kingfish/blob/master/app/src/main/res/layout/item_jexams.xml) handles the exam items. I haven't got time t

[2017-11-08 07:24] gadvena opened #31 "I can't log iin to portal, it said binusmaya giving them a weird data.. pls help"

[2017-11-10 01:37] Moemoesuna opened #32 "I can't log in to Portal"
Help I can't log in to my Portal, I uninstall and reinstall Portal because my Financial is not updating and now I can't log in to Portal

[2017-11-10 10:15] Joonath commented on #32
CMIIW, but it seems like the access token of login session is being hidden somewhere (or perhaps they reverted back to their old method) since I didn't see any random alphanumeric value at the address bar.

[2017-11-15 05:38] chrsep commented on #32
Hi, sorry for the late response, i haven't got much free time lately. @Joonath It does seems like they revert back to old login method, I've reverted Portal to use the old login method now. @Moemoesuna do you still have problem logging in with the updated version?

[2017-11-15 05:40] chrsep commented on #31
Hi @gadvena , sorry for the late response, this seems to be the same issue with #32, does your problem got fixed with the latest update?

[2017-11-15 07:41] Moemoesuna commented on #32
Thanks!! It works nicely now. Keep up the good work!

[2017-11-15 07:41] #32 closed

[2017-11-22 08:10] OwinBlazer opened #33 "Cannot Sign In (invalid username or password)"
Udah sama persis sama yang dipake kalo masuk ke bimay web, tapi masih gk bisa ya?

[2017-11-24 04:56] Joonath commented on #33
Same here, but it's not like our account is being credentially changed (since I can sign in from the official site). I suspect that they changed the hashing method. But still, it's best to check out the   sys_login.php first (did find out another alphanumeric inside that script, maybe worth checking, maybe not since this is my first time reconn'ing at BM scripts)

[2017-11-28 05:38] chrsep commented on #33
Sorry for the late reply, i've been quite busy lately. I've been looking at this the last few days, looks like Binusmaya have changed some of it's login mechanism to increase security, but it seems to be easy to be bypassed though so i've implemented a fix.

[2017-11-28 05:42] chrsep commented on #31
I'll close this issue for now, since this seems to be similar to #32. Feel free to re-open if there are still any issue.

[2017-11-28 05:42] #31 closed

[2017-11-28 05:45] chrsep commented on #22
I'll close this issue for now, since this is quite old now. Feel free to re-open if there are still any issue.

[2017-11-28 05:45] #22 closed

[2017-11-28 10:19] chrsep commented on #27
Hi @Mondoe , I'm really sorry for my very late reply. There are some random request failure caused by something about undefined EmployeeId from Binusmaya, I just can't get my head around it yet. Do you still experiencing this issue?

[2017-12-04 12:05] OwinBlazer commented on #33
Alright, it works now! Thanks!

[2017-12-04 12:05] #33 closed

[2018-01-05 11:27] Joonath opened #34 "Server Acting Weird (again)"
Seems like they were changing its method quite frequent

[2018-01-05 11:28] Joonath commented on #34
Add: the allegedly virus detection is from binusmaya server, not from your script.

[2018-01-05 11:45] Joonath commented on #34
Update: I think I see why
![image](https://user-images.githubusercontent.com/3736144/34607873-3124e8ca-f248-11e7-9329-3d5d5374cf5a.png)

[2018-01-05 12:03] mstephen77 commented on #34
Everything's randomized now, btw.

[2018-01-07 05:37] Joonath commented on #34
It's rare to see unescape() being used on site these days. I guess it's reasonable for avast to have it as a threat.

[2018-01-07 18:13] chrsep commented on #34
Wow, i can't even see the html page now. How does this work?
<img width="556" alt="screen shot 2018-01-08 at 01 07 48" src="https://user-images.githubusercontent.com/8491552/34652438-6aeebe18-f410-11e7-9656-bf75cbcef1c8.png">

I have no idea when or whether i can fix this or not. hmmm

[2018-01-07 20:52] senacandrampc commented on #34
I have my own Binus Maya third-party app that I created for private use, and I have successfully bypassed their new 'encryption' and I believe it would be useful to share it.

It's true that the source code is hidden if you use view-source, but it's because how Google Chrome works. But if you simply do a GET request through POSTMAN or other app that can extract HTML without running the JavaScript,

[2018-01-08 00:12] Joonath commented on #34
In case of curiousity, you can copy-paste those escaped string here: https://www.tareeinternet.com/scripts/unescape.html

Also, if you mean that the whole content is being hidden (and only showing the comment sign), it isn't fully true though, we can see the 'encrypted' source code at the very bottom of it.

[2018-01-08 01:30] chrsep commented on #34
Wow thanks, I haven't look into this deeper, I thought they would have encrypted the whole thing with a custom encryption that I need to implement myself or something.

If the whole login tokens is not encrypted and stays the same, the only thing that needs to be changed in Portal's login is probably it's regex pattern in `AuthInteractor.kt`
. But I still don't really have time to handle this yet

[2018-01-16 14:26] mstephen77 commented on #34
Well, right now I'd recommend looking at libraries for headless / automated browser... At least it was robust enough since it was practically the same as manual login, and you could just scrape PHPSESSID from the Cookie.

[2018-02-16 08:50] senacand commented on #34
Turns out the problem is not only there. Somehow, Binus Maya refuse (purposefully or not purposefully) when the User-Agent is from Mobile Chrome Browser (I haven't tested other mobile browsers however), so not only we need to change the Username and Password names, but also change the user agent.

I have created a pull request with the fixes, you may want to check it.

[2018-02-17 07:02] chrsep commented on #34
Thanks @senacand , they do seems to change their login rule quite often, everything seems to work now though 😁, I'll push an update by the end of the day.

[2018-05-08 07:47] senacand opened #37 "Server acting weird (Binusmaya changed their login page again)"
Portal is no longer working due to Binusmaya changing their login page again. It seems like they've removed all those weird _'encryption'_ that they used on the last update and reverted to a normal page.

I haven't tested it, but rolling back to the previous Portal login method should fix the problem. I'll try to fix it and make a PR if I have time. Should be an easy fix.

[2018-05-09 06:51] chrsep commented on #37
Thanks @senacand , i've just tried reverting back but it didn't seem to work (wrong username and password), maybe i am missing something or something small in the login changes, i will look more into this.

[2018-05-09 06:51] #34 closed

[2018-05-09 06:57] senacand commented on #37
Simply reverting back won't work since Bimay somehow refuse to login when you're trying to log in through mobile (Chrome), which the previous Portal version tries to mimic.

You'll also need to change the header to mimic a desktop Chrome browser. Check my last PR for reference.

[2018-05-09 09:05] chrsep commented on #37
I didn't revert the header though, i only reverted the AuthInteractor back to the old login mechanism, but I think i found the problem.
<img width="576" alt="image" src="https://user-images.githubusercontent.com/8491552/39805615-8b10d49c-53a1-11e8-8f43-4d26f7f52fc2.png">
Binusmaya gave 2 set-cookie statement to Portal, but since okhttp will only return one set-cookie when asked, one of the cookie

[2018-05-09 10:01] senacand commented on #37
Oh, I forgot about that too. On my last PR, the AuthInteractor already handle that too, although it was quite hacky.

[2018-05-09 10:49] chrsep commented on #37
Oh thanks, i missed that😝, It's fixed now though with 2c8ae16486075e10109dea8e6bef89db8d65d15d on my machine, the key for the login button were also changed apparently. i'll roll out the update soon.

[2018-05-11 09:16] senacand commented on #37
Alright then. I guess this issue is done now 👍

[2018-05-11 09:16] #37 closed

[2018-05-11 12:28] chrsep commented on #25
I'm going to close this old issue now, @davidhonasan sorry for my really late reply, but do you still experience this issue now? You can open a new issue if you do.

[2018-05-11 12:28] #25 closed

[2018-05-11 12:31] chrsep commented on #27
I'll close this issue for now, feel free to reopen if there is still issue.

[2018-05-11 12:31] #27 closed

[2018-07-06 15:04] DarthJonathan opened #38 "About iOS porting"
Hi!

I'm Jonathan B19 CompSci, amazing work you guys have done making bimay more accessible than ever. I have a question do anyone have ever try porting this into an iOS platform? if yes, I would like to contribute to the project!

Thank you!

[2018-07-23 12:03] senacand commented on #38
I wonder if it's even possible. Not that it's impossible to develop, but according to Apple's App Store guideline, it doesn't allow upload an app that uses unapproved API. Not to mention that in order for the app to pass the review phase, you'll need to give them a test account for their reviewers to test. Add $99/year requirement to that.

I'm interested in developing an iOS version too, however

[2018-07-25 11:18] aramadsanar opened #39 "What about adding attendance info page on each subject?"
DISCLAIMER: I don't know whether this will work or not, but I think requesting won't hurt at all :|

**Is your feature request related to a problem? Please describe.**
Since the official binusmaya app provides a way to see the attendance of each subject, I think it is interesting to carry such feature to Portal.

**Describe the solution you'd like**
One idea to implement it may be through the cale

[2018-09-17 19:28] cviali commented on #28
Aligning journal_exam_shift's baseline in [item_jexams](https://github.com/chrsep/Kingfish/blob/master/app/src/main/res/layout/item_jexams.xml) to journal_exam_chair could work, since both journal_exam_chair and journal_exam_room rarely takes full width of a screen.

[2018-09-20 01:13] krishnaksatria opened #40 "Add some features like the code of class / number of class, assignment, etc"

[2018-09-22 13:40] chrsep commented on #28
I just got time to work with Portal again. Yeah, i think journal_exam_shift baseline should be aligned with journal_exam_chairs's. Might as well moved it to the far left though i think, so it's more consistent with the normal class schedule (the normal class having it's time on the bottom far left).

[2018-09-22 13:41] chrsep commented on #28
I'll try to make this change.

[2018-09-22 14:11] chrsep commented on #38
Thanks @DarthJonathan, i don't know any project that attempt porting Portal to iOS though, It's pretty tough getting stuff out on apple ecosystem. The review stuff and $99/year makes it hard, that is one of the roadblock preventing me from trying to port Portal to iOS.

I wish Binus provided some kind of API for students to interact and experiment with their data and infrastructure, that will prob

[2018-09-22 15:30] #28 closed

[2018-09-26 17:55] cviali commented on #40
Portal is probably supposed to assist/providing alternative to access everyday information such as class schedule, classroom numbers, etc. and not trying actively to replace actual Binusmaya's functionalities for accessing campus life information.

So, extremely critical information e.g. how much 'jatah absen' you have left or assignment with close deadlines, etc. aren't supposed to be accessed th

[2018-10-01 04:39] ageliusg opened #42 "grades error"
grades calculation error

[2018-10-01 16:17] chrsep commented on #42
Hi @ageliusg , how does the error look like? Can you provide more detail?

[2018-10-01 17:10] chrsep commented on #40
well said 😁, assignment is a pretty big feature, i think it's a bit safer to implement than attendance data though (only you can keep track of your attendance data vs the whole class should know if there is an assignment) the db for assignment was already implemented actually.

For class code, Portal actually already have it saved, just a matter of showing it. I also think parent-to-child could wo

[2018-10-04 03:59] cviali commented on #40
Maybe we could replace the Campus code (ANGGREK, SYAHDAN, etc) or set the defaults to hidden to show the Class code to address this issue.

Assignment is pretty big feature, even this could be another Fragment page or implemented in the Resources fragment as new features.

I'd like to try this but I have no idea on how to develop any Binusmaya integrations.

[2018-10-04 04:15] cviali commented on #38
Actually there's some janky way for users to install iOS apps through Safari like how the iOS Jailbreaking community could install their repository app with simple .ipa file links, It's been a while since I've been following them (iOS 5-10ish, back when I still have my iPad working) and it might be relying on older iOS version exploit to bypass the signing process, so I don't really know how they

[2018-10-04 04:34] DarthJonathan commented on #38
There is though installing the ipsw directly into your iphones (or ipads). But you need a certificate for that and the app only lasts for 7 days to 30 days before the certificate needs to be renewed.

 I'm thinking of making a developer account anyway so, we'll see where this goes, Imma try reverse engineer the login system first. Care to eli5 just the logic of it? Thanks! appriciate all of your w

[2018-10-04 04:47] cviali commented on #38
When you mention it, It reminds me on later successful jailbreaking release when the new Flat redesign released for public (Maybe iOS 7), the Chinese repository app I used back in the days require the users to renew their certificates every week and AFAIK they implemented an optional feature that auto renews the certificate, but I don't understand much on how it works on their end since what I do

[2018-10-06 08:09] chrsep commented on #38
The login is a bit convoluted because Binus tries to prevent third parties from being able to authenticate with Binusmaya. They're quite concerned with the possibility for third-party apps to steal data. A valid concern, one of the reasons why I think projects like Portal need to be developed in the open (to show that it has nothing shady going on) and keeps all data on device.

Portal's implement

[2018-10-29 10:54] cviali opened #44 "Inconsistent Resources displayed data."
**Describe the bug**
Most of the time Binus class has multiple classes such as LAB, F2F or CL. Subjects that neither have a LAB or CL class displayed properly, but subject that have multiple classes only shows the LAB resources or whatever the subject has with F2F, i.e. Collaborative Learning.

Not sure if it's a bug or a feature request, I'll make it a 'bug report' just for this posting template.

[2018-11-02 09:37] cviali commented on #38
I'd like to contribute as well, I'm interested in both learning React Native and learning to work as a team, HMU if you guys are going to actually start porting Portal with React Native.

[2018-11-24 19:30] senacand commented on #38
@DarthJonathan Well, I'll help contributing. Unfortunately I do not have a Binusian account with active schedule due to I'm currently on 3+1 program, I'll probably help and technical bits.

And if the purpose of this is also for learning, why not try something new, for example Flutter? I haven't tried it yet, but would be fun to learn while developing a useful app.

[2018-11-25 05:02] cviali commented on #11
Binus already implemented calendar integration through Office 365's Outlook, and students could sync them to Google Calendar through Outlook if they want it that way.

Possible implementation through Portal is either using their way to sync the calendar in Binusmaya from Outlook to Google Calendar, or automate the process of what I mentioned above, which requires some authentication i.e. Microsoft

[2018-11-27 18:59] cviali commented on #42
I have no idea what's wrong with the grades calculations, but I realized there's a problem with the Final Multipapers textViews where the textViews are not completely GONE'd (I don't know what does it called, in java you delete a view by calling GONE) and it still shows up with the same grades and scores from the previous shown courses.

some context: (please pretend the scores aren't there, I'm o

[2018-12-09 04:20] chrsep opened #48 "RFC: Bringing Portal to other universities"
What if Portal works across universities!!!!🤣

Then maybe add some communication features (ex: chat room for each class that work across universities), so that for example: All student who studies calculus in UMN, Untar and Binus who uses Portal will automatically have access to the same chat room so maybe everyone can share, discuss, and talk. Maybe add some collaboration features too down the ro

[2018-12-10 14:46] Joonath commented on #48
That would be great!
But I think securities will always be in constant danger, as it would take data from user's university (for features Portal already have right now) and potentially getting snooped by person in the middle or by the end, even though you choose not to share those upon connecting to students from other universities.

Do you (or anyone) have suggestion to the problem?

[2018-12-11 04:57] senacand commented on #48
It would be good, but then we'll also need contributors from other universities to help contribute on connecting Portal with their service, and of course Portal itself may need a lot of refactoring to generalise the presenter and data models to work with multiple sources. Add to the problem of not knowing on how other universities react to third-party app.

And having collaboration features mean t

[2018-12-11 05:02] senacand commented on #42
@cviali Seems like you forgot to set the link to public. Can you set the link to public so I can see the problem?

[2018-12-11 05:12] cviali commented on #42
@senacand whoops, my bad, I've edited it out to public.

[2018-12-11 12:47] chrsep commented on #48
@Joonath If the university's data is saved locally on the phone with encryption and all network call goes to https endpoints, I think it will be pretty save. How would snooping works in this scenario?

@senacand Yes, Portal definitely needs a huge refactor to support this. Just a general refactor is really needed too :rofl:, there is quite a significant amount of tiny bugs, a lot of things can be

[2018-12-11 12:51] senacand commented on #48
Well, I guess the best way to start is to find university student from other universities so we can start learning how other university system works, especially whether they use REST API the way Bimay does.

[2018-12-12 16:12] cviali commented on #44
Well, it's somewhat solved so I'll close this issue. Thanks @senacand

[2018-12-12 16:12] #44 closed

[2018-12-14 04:12] DarthJonathan commented on #38
@chrsep I'm thinking more swift myself since developing a native code is quicker? Installing the app could be a hassle tho, since the user needed a mac to install it

[2018-12-14 04:13] DarthJonathan commented on #48
The system would be basically the same, I know for sure UPH uses our KRS system for their grading system, that is another inject / non documented apis

[2018-12-17 12:55] senacand commented on #48
@DarthJonathan Well, our KRS system is not easy to *steal data* from since it requires a bunch of scraping. Binusmaya 5 however uses a quite standard REST API (except the login part), which means all the data are easily consumable by any front-end client app (hence why making a Portal clone is not as difficult as it seems).

The hardest problem would be if other universities student portal does no

[2018-12-18 06:19] senacand commented on #38
@DarthJonathan Well regardless of what development framework you're using, people still need to use Mac to install it anyway (unless somehow we can get the app to be approved by Apple) or the hard way: Upload it to TestFlight and renew the certificate once in a while (although there's a limit to how many testers are allowed).

The other solution is to use React Native with [Expo](https://expo.io),

[2019-08-18 14:00] kevinyou77 commented on #38
Actually I've developed a version of Portal on iOS with Swift. [Full source code is here](https://github.com/kevinyou77/Swordfish), but beware it's still very early stage of development, contributions and feedbacks will be greatly appreciated. Thanks!